
@{
    ViewBag.Title = "Dashboard";
}
<style>
    .col-sm-2 {
        padding-left: 0;
        padding-right: 0;
    }
</style>
<div class="well">

</div>
<div class="">
    <div class="col-lg-2 panel panel-default">

    </div>
    <div class="col-lg-10 panel panel-default ">
        <div class="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home"><i class="glyphicon glyphicon-th"></i>Home</a></li>
                <li><a data-toggle="tab" href="#menu1"><i class="glyphicon glyphicon-file"></i>Reports</a></li>
                <li><a data-toggle="tab" href="#menu2"><i class="glyphicon glyphicon-cog"></i>Settings</a></li>
                <li><a data-toggle="tab" href="#menu3"><i class="glyphicon glyphicon-th-list"></i>Utilities</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-stats"></i></h1>Campus</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="../project/students" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-user"></i></h1>Students</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-list-alt"></i></h1>Schedule</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-book"></i></h1>Subjects</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-list"></i></h1>Enrollees</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-user"><i class="glyphicon glyphicon-user"></i></i></h1>Employees</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-user"><i class="glyphicon glyphicon-user"></i></i></h1>Employees</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="btn btn-default btn-lg btn-block"><h1><i class="glyphicon glyphicon-user"><i class="glyphicon glyphicon-user"></i></i></h1>Employees</a>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="well">
                        <div class="col-sm-2">

                        </div>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="well">

                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <div class="well">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/software-js")